<div class="container flex-column d-flex p-3 phone-column-layout">
  <h1 class="my-5">How the browser boots Angular</h1>
  <img
    src="https://miro.medium.com/max/3000/1*FqAJ8wB9qqRHKy8ui0vflA.png"
    alt=""
    height="300"
    width="100%"
  />

  <div class="post-content">
    <p class="mt-5">
      Lorem ipsum dolor sit amet, tellus mauris imperdiet felis, dolor at vitae
      dui morbi. Duis in dolor ligula, eu quisque sem, habitasse diam luctus nec
      ac. Cras leo nunc quam, aliquet lacus, consequat eu, pulvinar auctor
      lectus urna ultricies nullam eros, quisque elementum et. Sit ipsum,
      bibendum urna nam nunc vel eget sed. Odio phasellus vestibulum etiam
      suscipit lectus, amet cras nunc elit, velit ipsum sollicitudin, vestibulum
      tempor posuere lectus felis cras, sit voluptate cursus eros vulputate
      erat. At enim non ultricies euismod ornare, nisl duis vestibulum bibendum
      facilisis orci nam, pharetra porttitor lacinia donec dictum in, ipsum
      tortor natoque integer aenean. Egestas maecenas mauris non congue.
      Sagittis libero condimentum sodales quam, justo maecenas dolor nunc.
      Condimentum donec libero mauris sodales neque metus. Integer sollicitudin
      eleifend velit dui sociis, praesent et, donec viverra mollis eget ultrices
      ac, vestibulum commodo, sed interdum torquent felis. Eu diam, leo
      vestibulum adipiscing amet, diam vitae arcu velit, mi libero lobortis
      morbi enim justo etiam. Lectus pariatur, nunc tellus vestibulum metus,
      corrupti fames praesent ligula sociis. Ultricies bibendum in, cum vehicula
      varius eros, sapien mattis, sed porttitor dolor. Risus libero ut, facilisi
      magna pede amet leo exercitation, netus duis lorem justo wisi, ante donec
      sodales nec molestie orci. Ut faucibus, etiam quis amet, leo per nec
      volutpat aenean, id cursus in sollicitudin. Euismod massa in donec nullam
      neque, suspendisse leo ipsum nunc. Eu ultrices ultrices, porttitor
      ullamcorper et vitae, aliquip nunc nec nibh, ultricies condimentum urna.
      Vestibulum ullamcorper nec fugiat dolor placerat nec, lobortis tempor est
      nibh viverra, maecenas consectetuer eleifend pede. Interdum ultricies eu
      vivamus, sagittis dolor, maecenas risus tempus. Morbi leo est nec orci
      ullam, dictumst congue ante mauris. Arcu mauris ipsum wisi vehicula mi,
      eros at proin a, vitae convallis wisi fusce sed nullam duis, anim semper
      placerat mauris proin. Sodales wisi, vestibulum justo, est per suspendisse
      vitae vehicula. Et etiam justo mattis, ultricies diam sed, integer quisque
      eget libero morbi, nulla turpis, iaculis tincidunt molestie rutrum
      vulputate eleifend. Tortor ante eget, dictum scelerisque integer, egestas
      eleifend, ac lacinia sit ac. Luctus vel libero et dui. Donec scelerisque
      purus porta, gravida dignissim scelerisque lobortis proin vitae, fermentum
      nulla integer, dui id adipiscing egestas. Ultricies integer mauris, in
      erat bibendum, enim pellentesque vitae at quam amet debitis. In duis ipsum
      duis elementum laoreet fusce, lectus sed etiam sed ac nec aliquam. Ac
      justo ut, penatibus nec lacinia odio donec sed neque, enim massa eget
      ridiculus, tellus nulla lacus pellentesque adipiscing eleifend, lacinia
      nullam massa ut tortor ridiculus quis. Amet dictum nec nunc vitae placerat
      penatibus, est nibh libero pede ligula sapien. Orci condimentum posuere,
      proin amet, porta venenatis non elit lacinia nec, vestibulum integer morbi
      in ipsum accumsan. Dis curabitur. Nec ante mollis, nunc quis, ligula
      mattis purus, turpis nec erat a ut, morbi dolor felis. Odio lorem in sem
      rhoncus, pede amet mauris magna inventore sed Eu ultrices ultrices,
      porttitor ullamcorper et vitae, aliquip nunc nec nibh, ultricies
      condimentum urna. Vestibulum ullamcorper nec fugiat dolor placerat nec,
      lobortis tempor est nibh viverra, maecenas consectetuer eleifend pede.
      Interdum ultricies eu vivamus, sagittis dolor, maecenas risus tempus.
      Morbi leo est nec orci ullam, dictumst congue ante mauris. Arcu mauris
      ipsum wisi vehicula mi, eros at proin a, vitae convallis wisi fusce sed
      nullam duis, anim semper placerat mauris proin. Sodales wisi, vestibulum
      justo, est per suspendisse vitae vehicula. Et etiam justo mattis,
      ultricies diam sed, integer quisque eget libero morbi, nulla turpis,
      iaculis tincidunt molestie rutrum vulputate eleifend. Tortor ante eget,
      dictum scelerisque integer, egestas eleifend, ac lacinia sit ac. Luctus
      vel libero et dui. Donec scelerisque purus porta, gravida dignissim
      scelerisque lobortis proin vitae, fermentum nulla integer, dui id
      adipiscing egestas. Ultricies integer mauris, in erat bibendum, enim
      pellentesque vitae at quam amet debitis. In duis ipsum duis elementum
      laoreet fusce, lectus sed etiam sed ac nec aliquam. Ac justo ut, penatibus
      nec lacinia odio donec sed neque, enim massa eget ridiculus, tellus nulla
      lacus pellentesque adipiscing eleifend, lacinia nullam massa ut tortor
      ridiculus quis. Amet dictum nec nunc vitae placerat penatibus, est nibh
      libero pede ligula sapien. Orci condimentum posuere, proin amet, porta
      venenatis non elit lacinia nec, vestibulum integer morbi in ipsum
      accumsan. Dis curabitur. Nec ante mollis, nunc quis, ligula mattis purus,
      turpis nec erat a ut, morbi dolor felis. Odio lorem in sem rhoncus, pede
      amet mauris magna inventore sed Eu ultrices ultrices, porttitor
      ullamcorper et vitae, aliquip nunc nec nibh, ultricies condimentum urna.
      Vestibulum ullamcorper nec fugiat dolor placerat nec, lobortis tempor est
      nibh viverra, maecenas consectetuer eleifend pede. Interdum ultricies eu
      vivamus, sagittis dolor, maecenas risus tempus. Morbi leo est nec orci
      ullam, dictumst congue ante mauris. Arcu mauris ipsum wisi vehicula mi,
      eros at proin a, vitae convallis wisi fusce sed nullam duis, anim semper
      placerat mauris proin. Sodales wisi, vestibulum justo, est per suspendisse
      vitae vehicula. Et etiam justo mattis, ultricies diam sed, integer quisque
      eget libero morbi, nulla turpis, iaculis tincidunt molestie rutrum
      vulputate eleifend. Tortor ante eget, dictum scelerisque integer, egestas
      eleifend, ac lacinia sit ac. Luctus vel libero et dui. Donec scelerisque
      purus porta, gravida dignissim scelerisque lobortis proin vitae, fermentum
      nulla integer, dui id adipiscing egestas. Ultricies integer mauris, in
      erat bibendum, enim pellentesque vitae at quam amet debitis. In duis ipsum
      duis elementum laoreet fusce, lectus sed etiam sed ac nec aliquam. Ac
      justo ut, penatibus nec lacinia odio donec sed neque, enim massa eget
      ridiculus, tellus nulla lacus pellentesque adipiscing eleifend, lacinia
      nullam massa ut tortor ridiculus quis. Amet dictum nec nunc vitae placerat
      penatibus, est nibh libero pede ligula sapien. Orci condimentum posuere,
      proin amet, porta venenatis non elit lacinia nec, vestibulum integer morbi
      in ipsum accumsan. Dis curabitur. Nec ante mollis, nunc quis, ligula
      mattis purus, turpis nec erat a ut, morbi dolor felis. Odio lorem in sem
      rhoncus, pede amet mauris magna inventore sed Eu ultrices ultrices,
      porttitor ullamcorper et vitae, aliquip nunc nec nibh, ultricies
      condimentum urna. Vestibulum ullamcorper nec fugiat dolor placerat nec,
      lobortis tempor est nibh viverra, maecenas consectetuer eleifend pede.
      Interdum ultricies eu vivamus, sagittis dolor, maecenas risus tempus.
      Morbi leo est nec orci ullam, dictumst congue ante mauris. Arcu mauris
      ipsum wisi vehicula mi, eros at proin a, vitae convallis wisi fusce sed
      nullam duis, anim semper placerat mauris proin. Sodales wisi, vestibulum
      justo, est per suspendisse vitae vehicula. Et etiam justo mattis,
      ultricies diam sed, integer quisque eget libero morbi, nulla turpis,
      iaculis tincidunt molestie rutrum vulputate eleifend. Tortor ante eget,
      dictum scelerisque integer, egestas eleifend, ac lacinia sit ac. Luctus
      vel libero et dui. Donec scelerisque purus porta, gravida dignissim
      scelerisque lobortis proin vitae, fermentum nulla integer, dui id
      adipiscing egestas. Ultricies integer mauris, in erat bibendum, enim
      pellentesque vitae at quam amet debitis. In duis ipsum duis elementum
      laoreet fusce, lectus sed etiam sed ac nec aliquam. Ac justo ut, penatibus
      nec lacinia odio donec sed neque, enim massa eget ridiculus, tellus nulla
      lacus pellentesque adipiscing eleifend, lacinia nullam massa ut tortor
      ridiculus quis. Amet dictum nec nunc vitae placerat penatibus, est nibh
      libero pede ligula sapien. Orci condimentum posuere, proin amet, porta
      venenatis non elit lacinia nec, vestibulum integer morbi in ipsum
      accumsan. Dis curabitur. Nec ante mollis, nunc quis, ligula mattis purus,
      turpis nec erat a ut, morbi dolor felis. Odio lorem in sem rhoncus, pede
      amet mauris magna inventore sed Eu ultrices ultrices, porttitor
      ullamcorper et vitae, aliquip nunc nec nibh, ultricies condimentum urna.
      Vestibulum ullamcorper nec fugiat dolor placerat nec, lobortis tempor est
      nibh viverra, maecenas consectetuer eleifend pede. Interdum ultricies eu
      vivamus, sagittis dolor, maecenas risus tempus. Morbi leo est nec orci
      ullam, dictumst congue ante mauris. Arcu mauris ipsum wisi vehicula mi,
      eros at proin a, vitae convallis wisi fusce sed nullam duis, anim semper
      placerat mauris proin. Sodales wisi, vestibulum justo, est per suspendisse
      vitae vehicula. Et etiam justo mattis, ultricies diam sed, integer quisque
      eget libero morbi, nulla turpis, iaculis tincidunt molestie rutrum
      vulputate eleifend. Tortor ante eget, dictum scelerisque integer, egestas
      eleifend, ac lacinia sit ac. Luctus vel libero et dui. Donec scelerisque
      purus porta, gravida dignissim scelerisque lobortis proin vitae, fermentum
      nulla integer, dui id adipiscing egestas. Ultricies integer mauris, in
      erat bibendum, enim pellentesque vitae at quam amet debitis. In duis ipsum
      duis elementum laoreet fusce, lectus sed etiam sed ac nec aliquam. Ac
      justo ut, penatibus nec lacinia odio donec sed neque, enim massa eget
      ridiculus, tellus nulla lacus pellentesque adipiscing eleifend, lacinia
      nullam massa ut tortor ridiculus quis. Amet dictum nec nunc vitae placerat
      penatibus, est nibh libero pede ligula sapien. Orci condimentum posuere,
      proin amet, porta venenatis non elit lacinia nec, vestibulum integer morbi
      in ipsum accumsan. Dis curabitur. Nec ante mollis, nunc quis, ligula
      mattis purus, turpis nec erat a ut, morbi dolor felis. Odio lorem in sem
      rhoncus, pede amet mauris magna inventore sed
    </p>
  </div>
</div>
