<img
  src="https://miro.medium.com/max/3000/1*FqAJ8wB9qqRHKy8ui0vflA.png"
  alt=""
  height="600"
  width="100%"
/>
<!--<div class="wrapper d-flex flex-row">-->
<!--  <div class="social text-center ml-3">-->

<!--  </div>-->

<div class="container content">
  <div class="layout flex-column p-3">
    <h1 class="my-3 title">{{ post.title }}</h1>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row">
        <img
          alt="author"
          class="border-round mr-2"
          src="https://miro.medium.com/fit/c/96/96/1*Ap0cL-mIXt1wVV-Iti6Bdg.jpeg"
          width="48"
          height="48"
        />
        <div class="d-flex flex-column">
          <span>
            by <b>{{ post.author }}</b>
          </span>
          <span class="date"> at {{ post.date }} </span>
        </div>
      </div>
      <app-likes
        (addLike)="likePost()"
        [postId]="post.id"
        [likeAmount]="post.likes"
        class="mr-2"
      ></app-likes>
    </div>
    <div class="layout mt-4">
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>
<!--</div>-->
