<img [src]="post.img | transformImg" alt="" height="500" width="100%" class="post-img"/>

<div class="container content">
  <div class="layout flex-column p-3">
    <h1 class="my-3 title">{{ post.title }}</h1>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column">
          <span>
            by <b>{{ post.author }}</b>
          </span>
          <span class="date"> at {{ post.date }} </span>
        </div>
      </div>
      <app-likes
        (addLike)="likePost()"
        [postId]="post.id"
        [likeAmount]="post.likes"
        class="mr-2"
      ></app-likes>
    </div>
    <div class="layout mt-4">
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>
<!--</div>-->
