.layout {
  margin: 0 auto;
  max-width: 700px;
}

.post-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



.title {
  font-weight: 400;
}

.content {
  margin: 0 auto;
  width: 700px;
  min-width: 55%;
  max-width: 100%;
}

.date {
  font-size: 12px;
}

.border-round {
  border-radius: 50px;
}
