<div class="container d-flex full-width">
<table class="table mt-5">
  <thead>
  <tr class="full-width border">
    <th *ngFor="let column of columnTitles">
      {{column}}
    </th>
    <th>
      Manage
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container>
    <tr *ngFor="let item of items" class="full-width border">
      <td (click)="show(item)" *ngFor="let column of columnTitles">
        {{item[column.toLowerCase()] | threeDots}}
      </td>
      <td class="d-flex flex-row justify-content-around">
        <i (click)="delete(item.id)" class="far fa-trash-alt pointer"></i>
        <i (click)="edit(item.id)" class="fas fa-pencil-alt pointer"></i>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>
