.tasks-wrapper {
    background-color: white;
    border-radius: 10px;
    height: 500px;
    margin-top: 30px;
}

.input-task {
    width: 100% !important;
    border: 0;
    border-bottom: 1px solid darkgray;
    background-color: transparent;
    padding-left: 5px;
    margin-right: 10px;
}

.selected-task {
    border: 1px solid #3348ad;
    padding: 5px 0;
}

.task:hover {
    background-color: rgba(97, 200, 255, 0.53);
}

.remove-task-hover:hover {
    background-color: transparent !important;
}

