<div class="from-group d-flex flex-column">
  <app-upload-image
    [cleanInput]="isCleaned"
    (removeImg)="deleteImg()"
    (approveImg)="$event ? watchImage($event) : imgError()"
  ></app-upload-image>
  <div class="mb-2 d-flex flex-column" *ngIf="imgPath || img">
    <img
      [src]="imgPath || (img | transformImg)"
      [alt]="img.name || 'img-cover'"
      width="100%"
      height="320"
    />
  </div>
</div>

<div class="text-right">
  <span>{{ characterAmount || 0 }} Characters</span>
</div>

<form [formGroup]="post" (ngSubmit)="onSubmit()" #f>
  <div class="form-group">
    <input formControlName="title" placeholder="Title" class="form-control" />
  </div>
  <div class="form-group">
    <input formControlName="author" placeholder="Author" class="form-control" />
  </div>
  <div class="form-group">
    <mat-select formControlName="type" placeholder="Type" class="form-control">
      <mat-option value="news">News</mat-option>
      <mat-option value="deep-dive">Deep Dive</mat-option>
    </mat-select>
  </div>
  <div class="form-group">
    <textarea
      rows="15"
      formControlName="content"
      placeholder="Content"
      class="form-control"
    ></textarea>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="resetForm($event)" class="btn btn-danger">Reset</button>
  </div>
</form>
