<link rel="stylesheet" href="post-form.component.css">
<script src="post-form.component.ts"></script>
<form [formGroup]="post" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input formControlName="title" placeholder="Title" class="form-control" />
  </div>
  <div class="form-group">
    <input formControlName="author" placeholder="Author" class="form-control" />
  </div>
  <div class="form-group">
    <mat-select formControlName="type" placeholder="Type" class="form-control">
      <mat-option value="news">News</mat-option>
      <mat-option value="deep-dive">Deep Dive</mat-option>
    </mat-select>
  </div>
  <div class="form-group">
    <textarea
      rows="15"
      formControlName="content"
      placeholder="Content"
      class="form-control"
      (change)="countLines($event)"
    ></textarea>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="resetForm($event)" class="btn btn-danger">Reset</button>
  </div>
</form>
