::ng-deep :root {
  --main-color: #3348AD;
  --background-color: #F3F3F3;
}

::ng-deep .background {
  background-color: var(--background-color);
  height: 100vh;
  overflow: auto;
}


::ng-deep .form-design {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 70vw;
  position: absolute;
}
