.post-headline {
  margin: 0 !important;
  height: 65px;
  /*word-wrap: break-spaces;*/
}

.img-size {
  width: 300px;
  height: 120px;
  border-radius: 5px;
}

.phone-column-layout {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 350px;;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.continue-reading-btn {
  width: 15vw;
  display: flex;
  align-self: flex-start;
}

.border-round {
  border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
  /*.phone-column-layout {*/
  /*  display: flex;*/
  /*  flex-direction: column !important;*/
  /*  height: 457px;*/
  /*  !*align-items: stretch;*!*/
  /*}*/

  /*.img-size {*/
  /*  width: auto;*/
  /*  height: 200px;*/
  /*  margin: 0 0 20px 0 !important;*/
  /*}*/

  /*.post-headline {*/
  /*  padding: 0;*/
  /*  margin: 15px 0 0 0;*/
  /*}*/

  /*.continue-reading-btn {*/
  /*  width: 35%;*/
  /*}*/
}

@media only screen and (max-width: 770px) {
  /*.continue-reading-btn {*/
  /*  display: block !important;*/
  /*  width: 100% !important;*/
  /*}*/
}
