<div class="phone-column-layout" [routerLink]="['/posts/read', post.id]">
  <div class="d-flex flex-column">
    <h4 class="post-headline">{{ post.title | threeDots: 20 }}</h4>
    <img
      [src]="post.img | transformImg"
      [alt]="post['img_title']"
      class="img-size"
    />
    <div class="mt-3">
      <span class="align-self-center font-weight-lighter text-wrap">
        {{ post.date }} {{ post.author }}</span
      >
      <p>{{ post.content | threeDots }}</p>
    </div>
  </div>
</div>
