<div class="phone-column-layout" [routerLink]="['/posts/read', post.id]">
  <div class="d-flex flex-column">
    <h4 class="post-headline">{{ post.title }}</h4>
    <img
      [src]="post.img | transformImg"
      [alt]="post['img_title']"
      class="img-size"
    />
    <div class="d-flex flex-row mt-2">
      <img
        alt="author"
        class="border-round mr-2"
        src="https://miro.medium.com/fit/c/96/96/1*Ap0cL-mIXt1wVV-Iti6Bdg.jpeg"
        width="48"
        height="48"
      />
      <span class="py-1 align-self-center text-wrap"
        >By <b>{{ post.author }}</b> at <span>{{ post.date }}</span></span
      >
          <p>{{ post.content | threeDots }} </p>
    </div>
  </div>
</div>
