
<div>
  <div>
    <div></div>
    <div></div>
  </div>

<table class="table mt-5">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users$ | async" >
<!--    <th scope="row">1</th>-->
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td class="row">
      <i class="far fa-trash-alt"></i>
    </td>
  </tr>
  </tbody>
</table>
</div>

