<div class="container text-center">
  <div class="wrapper center-div border-dark w-50 mt-5">
    <h2 class="mb-3 mt-5">Login to app</h2>
    <form [formGroup]="form" class="center-div mt-2" #f (submit)="submit($event, f.valid)">
      <input
        type="email"
        formControlName="email"
        placeholder="Enter email..."
        class="form-control mb-1"
        [(ngModel)]="email"
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password..."
        class="form-control"
        [(ngModel)]="password"

      />
      <button class="btn btn-primary w-100 mt-2" type="submit">Enter</button>
    </form>
  </div>
</div>
