<div class="login-img img-overlay text-left">
  <div class="wrapper border-dark pl-5 pt-5 layout">
    <!--    <button (click)="createAdmin()">Create Admin</button>-->
    <h1>LOGO</h1>
    <div class="text-center">
      <h2>LOGIN</h2>
      <form
        [formGroup]="form"
        class="center-div mt-2"
        #f
        (submit)="submit($event)"
      >
        <input
          type="email"
          formControlName="email"
          placeholder="Email..."
          class="form-input"
          [(ngModel)]="email"
        />
        <input
          type="password"
          formControlName="password"
          placeholder="Password..."
          class="form-input"
          [(ngModel)]="password"
        />
        <button class="login-btn" type="submit">Enter</button>
      </form>
    </div>
  </div>
</div>
