ul li {
  list-style: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 1.8rem;
  grid-row-gap: 15px;
  justify-content: center;
}

li {
display: block;
}

@media only screen and (min-width: 991px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  }
}

@media only screen and (max-width: 768px) {
  li {
    margin: 0 auto;
  }
}
