<div class="container text-center">
  <h2 class="mb-4 pt-5 mt-4">CONTACT</h2>
  <div class="contactForm text-center px-3">
    <p class="alert-success" *ngIf="isEmailSent">Email Sent, Thanks!</p>
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="form-group align-items-center"
    >
      <div class="mb-2">
        <input
          formControlName="name"
          type="text"
          placeholder="NAME..."
          class="form-input"
        />
        <mat-error class="errorLabel">{{ errorCheck('name') }}</mat-error>
      </div>

      <div class="mb-2">
        <input
          formControlName="email"
          type="email"
          ngModel
          email
          placeholder="EMAIL..."
          class="form-input"
        />
        <mat-error class="errorLabel">{{ errorCheck('email') }} </mat-error>
      </div>

      <div class="mb-2">
        <textarea
          rows="5"
          formControlName="content"
          placeholder="MESSAGE..."
          class="form-input message"
        ></textarea>
        <mat-error class="errorLabel">{{ errorCheck('content') }}</mat-error>
      </div>
    </form>
  </div>
  <button type="submit" class="send-btn mt-2">SUBMIT</button>

</div>
