a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

.side-menu {
  height: 100vh;
  width: 225px;
  background-color: #393939;
  color: #fff;
}

.menu-wrapper {
  height: 300px;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}

.side-menu-top {
  background-color: darkred;
  text-align: center;
  font-weight: 500;
  padding: 20px 0;
  letter-spacing: 2px;
  font-size: 20px;
}

.activeURL {
  font-weight: 700;
}

.icon-div {
  width: 20px;
  text-align: center;
}
