<nav class="side-menu">
  <div class="side-menu-top"><a routerLink="/admin/dashboard">devDeep</a></div>
  <div class="menu-wrapper d-flex flex-column justify-content-around py-5 pl-3 ml-4">
    <a routerLink='/admin/dashboard' routerLinkActive="active">
      <i class="fas fa-tachometer-alt mr-1" aria-hidden="true">
      </i> Dashboard
    </a>
    <a routerLink='/admin/posts' routerLinkActive="active">
      <i class="far fa-file-alt mr-1" aria-hidden="true">
      </i> Manage Posts
    </a>
    <a routerLink='/admin/users' routerLinkActive="active">
      <i class="fa fa-users mr-1" aria-hidden="true">
      </i> Manage Users
    </a>
  </div>
</nav>
