<div *ngIf="canShowPostList">
  <button class="btn btn-primary" routerLink="new-post">Upload Post</button>
  <div class="d-flex container flex-column mt-5">
    <h4>Posts</h4>
    <ul class="d-flex row mt-6" *ngIf="postList$ | async as postList">
      <li *ngFor="let post of postList " class="list-unstyled card col-3 m-2 h-auto p-4">
        <app-post-card (showPost)="showPost($event)" [post]="post"></app-post-card>
        <button class="btn btn-primary" [routerLink]="['edit-post/', post.id, post]">Edit Post</button>
      </li>
    </ul>
  </div>
</div>

<app-view-post
  *ngIf="canShowPost"
  (postDeleted)="deletePost($event)"
  (toPostList)="showPostList()"
  [post]="chosenPost">
</app-view-post>
