<nav class="side-menu">
  <div class="side-menu-top"><a routerLink="/admin/dashboard">LOGO</a></div>
  <hr>
  <div
    class="menu-wrapper d-flex flex-column justify-content-around pl-3 ml-4"
  >
    <a routerLink="/admin/dashboard" routerLinkActive="active-menu-URL">
      <i class="fa fa-tachometer-alt mr-2 icon-div" aria-hidden="true"> </i
      ><span>Dashboard</span>
    </a>

    <a routerLink="/admin/tasks" routerLinkActive="active-menu-URL">
      <i class="far fa-file-alt mr-2 icon-div" aria-hidden="true"> </i
      ><span>Tasks</span>
    </a>

    <a routerLink="/admin/posts" routerLinkActive="active-menu-URL">
      <i class="far fa-file-alt mr-2 icon-div" aria-hidden="true"> </i
      ><span>Posts</span>
    </a>

    <a routerLink="/admin/users" routerLinkActive="active-menu-URL">
      <i class="fa fa-users mr-2 icon-div" aria-hidden="true"> </i>Users
    </a>
  </div>
</nav>
