<nav class="bg-white text-dark border-bottom">
  <div class="custom-navbar border-bottom">
    <div class="navbar container">
      <p routerLink="/" class="navbar-brand align-self-center pr-3 pointer">
        Bits&&Bytes
      </p>
      <div class="d-flex flex-row collapsed-search-input">
        <div class="d-flex flex-row">
          <form class="form-inline collapsed-search" (submit)="sendSearch($event)">
            <input
              class="mr-sm-2 form-input text-white collapsed-search-input"
              type="search"
              placeholder="Search..."
              aria-label="Search"
              [(ngModel)]="searchQuery"
              [ngModelOptions]="{ standalone: true }"
              #search
            />
            <button>
              <i class="fas fa-search text-white pointer mr-1"></i>
            </button>
          </form>
          <div class="d-flex flex-row mt-1 on-collapse">
            <p
              routerLink="/contact"
              routerLinkActive="whiteActiveUrl"
              class="ml-3 mr-0 my-1 pr-0 list-item "
            >
              Contact
            </p>
            <i class="fa fa-envelope env-style"></i>
          </div>
        </div>
        <div class="">
          <button
            (click)="toggleNav()"
            class="navbar-toggler bg-light burger ml-3"
            type="button"
            data-toggle="collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler ml-auto"
              ><i class="fas fa-bars"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{ 'hide-nav': !showMenu }"
    class="container collapse navbar-collapse nav-row collapsed"
  >
    <ul class="nav-row nav-menu pr-3 m-0 nav-fill list-unstyled nav-collapse">
      <li
        routerLink="/"
        class="list-item"
        routerLinkActive="activeURL"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li
        routerLink="/tech-news"
        class="list-item"
        routerLinkActive="activeURL"
      >
        Tech News
      </li>
      <li
        routerLink="/deep-dive"
        class="list-item"
        routerLinkActive="activeURL"
      >
        Deep Dive
      </li>
      <li
        *ngIf="showContact"
        routerLink="/contact"
        routerLinkActive="activeURL"
        class="list-item"
      >
        Contact
      </li>
    </ul>
  </div>
</nav>
