.custom-navbar {
  display: flex;
  background-color: var(--main-color);
  color: white;
  height: 65px;
  align-content: center;
}

.navbar-brand {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.nav-menu {
  display: flex;
  width: 600px;
  padding: 0;
  font-weight: lighter;
  height: 45px;
  align-items: center;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

.show-nav {
  display: block !important;
}

.hide-nav {
  display: none !important;
}

.burger {
  display: none;
}

.nav-row {
  display: flex;
  flex-direction: row !important;
}

.list-item {
  text-align: left;
  margin-right: 30px;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
}

.form-input {
  background-color: var(--main-color);
  border: none;
  border-bottom: 1px solid white;
}

input::placeholder {
  color: white;
  font-weight: lighter;
}

@media only screen and (max-width: 880px) {
  .nav-menu {
    width: 75%;
  }

  .on-collapse {
    display: none !important;
  }

  .burger {
    display: block;
  }

  .nav-row {
    display: flex;
    flex-direction: column !important;
    position: absolute;
    text-align: left !important;
    background-color: #1c2022;
    color: white;
    width: 150px;
    left: calc(100% - 150px);
  }
}
